.main-wrap {
  max-width: 800px;
  margin: auto;
  .icon {
    cursor: pointer;
  }
}

.buttons-wrap {
  button {
    width: 100%;
  }
}

.thumb-wrap {
  img {
    max-width: 250px;
    margin: auto;
  }
}
