.main-wrap {
  margin: auto;
  .icon {
    cursor: pointer;
  }
}

.buttons-wrap {
  button {
    width: 100%;
  }
}

.thumb-wrap {
  img {
    max-width: 250px;
    margin: auto;
  }
}

.padding-left {
  padding-left: 0px;
}

.modal-card-foot {
  padding: 0;
}

.spanMargin {
  margin: 20px;
}

.user-words-list img {
  max-width: 150px;
}

.qm-icon {
  line-height: 1.45em;
}
