.main-wrap {
  margin: auto;
  .icon {
    cursor: pointer;
  }
}

.buttons-wrap {
  button {
    width: 100%;
  }
}

.thumb-wrap {
  img {
    max-width: 250px;
    margin: auto;
  }
}

.padding-left{
  padding-left: 0px;
  padding-left: 0px;
}