.main-wrap {
  margin: auto;
  .icon {
    cursor: pointer;
  }
}

.buttons-wrap {
  button {
    width: 100%;
  }
}

.thumb-wrap {
  img {
    max-width: 250px;
    margin: auto;
  }
}

.spanMargin{
  margin: 20px;
}